<%- include('./partials/head') %>
<body class="pt-5">
    <div class="container text-center mb-5">
        <h1>Auction pulse</h1>
        <small>EST.2023</small>
    </div>
    <div class="container form-container ">
        <h4 class="text-center mb-5">Create an account</h4>
        <form action="/api/v1/auctioneers" method="post" class="mx-auto mb-3">
            <div class="row mb-4">
                <div class="col">
                    <input type="text" class="form-control form-control-lg" name="firstName" id="" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-lg" name="lastName" id="" placeholder="Last name">
                </div>
            </div>
            <div class="mb-4">
                <input type="email" class="form-control form-control-lg" name="email" id="" placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-control-lg" name="password" id="" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-control-lg" name="confirmPassword" id="" placeholder="Confirm password">
            </div>
            <div class="d-grid mt-5">
                <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
            </div>
        </form>
        <p class="text-center">Already have an account? <a href="login" class="link-underline-light">Log in</a></p>
    </div>
</body>
</html>